@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    font-family: 'Poppins', Arial;

}


/*Designing the Second page: Displaying the detailed data of a wonder*/

.details-container{
    font-size: 15px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.details-container h2{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(73, 42, 42);
}

.details-container .images{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.details-container img{
    width: 28%;
    gap: 10px;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: transform 0.4s;
}

.details-container img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.details-container .summary, .details-container .location, .details-container .build_year, .details-container .time_period, .details-container .categories, .details-container h4{
    margin: 20px auto;
    text-align: justify;
    width: 500px;
    font-size: 15px;
}

.details-container strong, .details-container h4{
    color: rgb(73, 42, 42);
}

.details-container ul.resources{
    list-style-type: disc;
    list-style-position: inside;
    text-align: justify;
    padding: 0;
    margin: 15px auto;
    width: fit-content;
}

.details-container ul.resources li {
    margin-bottom: 10px;
    display: list-item;
}

.details-container a{
    text-decoration: none;
    color: black;
    text-decoration: underline;
}


@media (max-width: 768px) {
    
    .details-container {
        width: 100%;
        padding: 15px;
    }

    .details-container .images img {
        width: 30%; 
    }

    .details-container .summary, 
    .details-container .location, 
    .details-container .build_year, 
    .details-container .time_period, 
    .details-container .categories {
        max-width: 100%;
        font-size: 18px;
    }
}
